{% extends "base_profile.html" %}

{% block body %}

    <div class="container-fluid">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
        <div class="row justify-content-center mt-4">
            <div class="col-md-4 text-center">
                {% if admission.profile_image %}
                <img src="{{ admission.profile_image.url }}" class="avatar" alt="Profile Picture">
                {% else %}
                <img src="https://www.w3schools.com/howto/img_avatar.png" class="avatar" alt="Default Profile Picture">
                {% endif %}
                <p>{{form.profile_image}}</p>
                <p>{{ form.full_name }}</p>
                <p> {{ form.email }}</p>
                
            </div>
        </div>
        
        <div class="row mt-4">
            <!-- Left Column -->
            <div class="col-lg-4 p-3">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Personal Information</h3>
                        <p><strong>Date of Birth:</strong> {{ form.dob }}</p>
                        <p><strong>Gender:</strong> {{ form.gender }}</p>
                        <p><strong>Phone: (+91)</strong>  {{ form.phone }}</p>
                        <p><strong>Address:</strong> {{ form.address }}</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Emergency Contact</h3>
                        <p><strong>Name:</strong> {{ form.emergency_contact_name }}</p>
                        <p><strong>Relationship:</strong> {{ form.relationship }}</p>
                        <p><strong>Phone:</strong> {{ form.emergency_contact_phone }}</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Additional Information</h3>
                        <p><strong>Preferred Workout Times:</strong>  {{ form.preferred_workout_times }}</p>
                        <p><strong>Referred By:</strong> {{ form.referred_by }}</p>
                        <p><strong>Notes:</strong> {{ form.notes }}</p>
                    </div>
                </div>
            </div>
            <!-- Right Column -->
            <div class="col-lg-8 p-3">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Health and Fitness Information</h3>
                        <p><strong>Medical Conditions:</strong> {{ form.medical_conditions }}</p>
                        <p><strong>Allergies:</strong> {{ form.allergies }}</p>
                        <p><strong>Current Medications:</strong>  {{ form.current_medications }}</p>
                        <p><strong>Previous Injuries:</strong> {{ form.previous_injuries }}</p>
                        <p><strong>Fitness Goals:</strong> {{ form.fitness_goals }}</p>
                        <p><strong>Fitness Level: (Beginner / Intermediate / Advanced)</strong> {{ form.fitness_level }}</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Membership Details</h3>
                        <p><strong>Membership Type: (Monthly / Quarterly / Annual)</strong> {{ form.membership_type }}</p>
                        <p><strong>Start Date:</strong> {{ form.start_date }}</p>
                        <p><strong>Payment Method: (Credit Card / Debit Card / Bank Transfer / cash)</strong> {{ form.payment_method }}</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Consent and Agreements</h3>
                        <p><strong>Liability Waiver:</strong> {{ form.liability_waiver }}</p>
                        <p><strong>Terms & Conditions:</strong> {{ form.terms_conditions }}</p>
                        <p><strong>Privacy Policy:</strong> {{ form.privacy_policy }}</p>
                        <p><strong>Marketing Consent:</strong> {{ form.marketing_consent }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-row-reverse">
        <div class="p-2">
            <a href="{% url 'profile' admission.pk %}" class="btn btn-danger btn-lg ms-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708"/>
              </svg> Cancel</a>
        </div>
        <div class="p-2">
            <button type="submit" class="btn btn-primary btn-lg"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.5 10a.5.5 0 0 1-.5-.5v-8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 0 0 1h2A1.5 1.5 0 0 0 14 9.5v-8A1.5 1.5 0 0 0 12.5 0h-9A1.5 1.5 0 0 0 2 1.5v8A1.5 1.5 0 0 0 3.5 11h2a.5.5 0 0 0 0-1z"/>
                <path fill-rule="evenodd" d="M7.646 4.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V14.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708z"/>
              </svg> Update</button>
    </div>
    </div>
</form>

{% endblock body %}
