{% extends "base_home_search.html" %}

{% block title %}Search{% endblock title %}

    {% block body %}

    <!-- Add new user -->
    <div class="container-fluid">
        
        <h2 class="p-3">Result : "{{search}}"</h2>

        {% if admissions|length == 0 %}
  <div class="no-search-results">
    <h2>No results found for "{{ search }}"</h2>
    <p>We couldn't find any records matching your search term. Here are some tips to help you refine your search:</p>
    <ul>
      <li>Double-check spelling for any typos.</li>
      <li>Try using broader or more specific keywords.</li>
      <li>Consider using filters if available to narrow down your search.</li>
    </ul>
  </div>
{% endif %}


                <div class="table-responsive table-scrollable">
                    <table class="table table-striped" style="text-align: center;">
                        <thead>
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Full Name</th>
                                <th scope="col">Date of Birth</th>
                                <th scope="col">Phone No.</th>
                                <th scope="col">E-mail</th>
                                <th scope="col">Membership Type</th>
                                <th scope="col">Start Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for admission in admissions %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td><a href="{% url 'profile' admission.id %}">{{ admission.full_name }}</a></td>
                                    <td>{{ admission.dob }}</td>
                                    <td>{{ admission.phone }}</td>
                                    <td>{{ admission.email }}</td>
                                    <td>{{ admission.membership_type }}</td>
                                    <td>{{ admission.start_date }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
    </div>
    {% endblock body %}

